In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import adjusted_mutual_info_score, silhouette_score

In [16]:
df = pd.read_csv("/Users/alex/project/ai/AI-Zero-To-Hero/K-Means/city-lifestyle-clustering/data/city_lifestyle_dataset.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   city_name               300 non-null    object
 1   country                 300 non-null    object
 2   population_density      300 non-null    int64
 3   avg_income              300 non-null    int64
 4   internet_penetration    300 non-null    float64
 5   avg_rent                300 non-null    int64
 6   air_quality_index       300 non-null    int64
 7   public_transport_score  300 non-null    float64
 8   happiness_score         300 non-null    float64
 9   green_space_ratio       300 non-null    float64
dtypes: float64(4), int64(4), object(2)
memory usage: 23.6+ KB

In [24]:
k=5
features = [
    "population_density",
    "avg_income",
    "internet_penetration",
    "avg_rent",
    "air_quality_index",
    "public_transport_score",
    "happiness_score",
    "green_space_ratio"
]

X = df[features]

scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

kmeans=KMeans(n_clusters=k, random_state=42, n_init=100)
df["cluster"] = kmeans.fit_predict(X_scaled)

cluster_profile = df.groupby("cluster")[features].mean()
cluster_profile

,population_density,avg_income,internet_penetration,avg_rent,air_quality_index,public_transport_score,happiness_score,green_space_ratio
cluster,,,,,,,,
0,2161.712766,4215.744681,90.278723,1509.042553,50.936170,64.505319,8.386170,36.103191
1,6454.786885,2363.278689,71.962295,833.442623,86.131148,58.486885,5.934426,30.067213
2,2722.285714,1220.793651,50.758730,420.793651,79.952381,38.446032,4.600000,36.093651
3,2629.631579,2866.140351,76.592982,1021.754386,58.859649,51.533333,7.514035,39.173684
4,10604.680000,2697.600000,74.084000,935.600000,117.600000,68.980000,4.992000,18.536000